<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="referrer" content="no-referrer" />
  <meta name="generator" content="diffoscope" />
  <link rel="icon" type="image/png" href="icon.png" />
  <title>/usr/bin/diffoscope --output-empty --exclude-directory-metadata=yes --html-dir diffoscope/glibc/2.35-0ubuntu3.1+11.0trisquel1 published rebuilt</title>
  <link href="common.css" type="text/css" rel="stylesheet" />
</head>
<body class="diffoscope">
<div class="difference"><table class="diff">
<colgroup><col class="colines"/><col class="coldiff"/>
<col class="colines"/><col class="coldiff"/></colgroup>
<tr style="display:none;"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr class="diffhunk"><td colspan="2">Offset 1, 117 lines modified</td><td colspan="2">Offset 1, 91 lines modified</td></tr>
<tr class="diffchanged"><td class="diffline">1 </td><td class="diffpresent">GCC:<span class="dp">·</span>(Ubuntu<span class="dp">·</span>11.<del>2</del>.0-1<del>9</del>ubuntu1)<span class="dp">·</span>11.<del>2</del>.0</td><td class="diffline">1 </td><td class="diffpresent">GCC:<span class="dp">·</span>(Ubuntu<span class="dp">·</span>11.<ins>3</ins>.0-1ubuntu1<ins>~22.04</ins>)<span class="dp">·</span>11.<ins>3</ins>.0</td></tr>
<tr class="diffunmodified"><td class="diffline">2 </td><td class="diffpresent">f6&gt;J}j:^</td><td class="diffline">2 </td><td class="diffpresent">f6&gt;J}j:^</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">3 </td><td class="diffpresent">F?Jl&#x27;]N!n</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">4 </td><td class="diffpresent">_5GF7&lt;AFG</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">5 </td><td class="diffpresent">;|&gt;)r&gt;)r&gt;)r&gt;)r&gt;)r</td></tr>
<tr class="diffdeleted"><td class="diffline">3 </td><td class="diffpresent">rz5dW=ObW</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">4 </td><td class="diffpresent">V/13_?E}</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">5 </td><td class="diffpresent">DQTLGTrcE</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">6 </td><td class="diffpresent">H,7Kp&lt;=#</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">7 </td><td class="diffpresent"><span class="dp">»</span>       &#x27;\^;:tqf4</td><td colspan="2"> </td></tr>
<tr class="diffunmodified"><td class="diffline">8 </td><td class="diffpresent">@]cJ)A5g</td><td class="diffline">6 </td><td class="diffpresent">@]cJ)A5g</td></tr>
<tr class="diffchanged"><td class="diffline">9 </td><td class="diffpresent"><del>-,GoSlj(</del></td><td class="diffline">7 </td><td class="diffpresent"><ins>dJv?lCRp</ins></td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">8 </td><td class="diffpresent">-nA/Zn?7</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">9 </td><td class="diffpresent">UmnP&lt;T9f</td></tr>
<tr class="diffchanged"><td class="diffline">10 </td><td class="diffpresent"><span class="dp">»</span>       n<del>C</del>T34XC@p<del>/</del></td><td class="diffline">10 </td><td class="diffpresent"><span class="dp">»</span>       n<ins>G</ins>T34XC@p</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">11 </td><td class="diffpresent">{%eMoKIl</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">12 </td><td class="diffpresent">t-&lt;&lt;&amp;0yY</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">13 </td><td class="diffpresent">G%cxbfY|^Z</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">14 </td><td class="diffpresent">#H_Avo@?</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">15 </td><td class="diffpresent">=k+,&#x27;+ex</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">16 </td><td class="diffpresent">{2)?:@RQ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">17 </td><td class="diffpresent">%V1Xs6kb</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">18 </td><td class="diffpresent">y9/9pLk^</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">19 </td><td class="diffpresent">PQ(/SZtD</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">20 </td><td class="diffpresent">P&amp;ESQ(r`*</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">21 </td><td class="diffpresent">&#x27;\1&amp;/%\1&amp;</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">22 </td><td class="diffpresent">n=&lt;}pS=jp/</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">23 </td><td class="diffpresent">FWVRRA/ktc</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">24 </td><td class="diffpresent">F_VrSA/k</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">25 </td><td class="diffpresent">Sc&amp;Q(VWbUo]</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">26 </td><td class="diffpresent">R+M\jSC4K</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">27 </td><td class="diffpresent">){Hx<span class="dp">»</span>   J1)</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">28 </td><td class="diffpresent">Q4ogK}CF</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">29 </td><td class="diffpresent">)m=9o-ma</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">30 </td><td class="diffpresent">VoIw1Vo]</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">31 </td><td class="diffpresent">YodVkm)^Wa</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">32 </td><td class="diffpresent">&lt;c<span class="dp">·</span>t&#x27;a:y</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">33 </td><td class="diffpresent">ch[6:x%0:H</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">34 </td><td class="diffpresent">eSDP0:(*</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">35 </td><td class="diffpresent">YDB`6&#x27;!0</td></tr>
<tr class="diffdeleted"><td class="diffline">11 </td><td class="diffpresent">AhFnc^!9</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">12 </td><td class="diffpresent">7D:<span class="dp">·</span>~@\Y~</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">13 </td><td class="diffpresent">I!)aJ\{C</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">14 </td><td class="diffpresent">6td~ND-%</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">15 </td><td class="diffpresent"><span class="dp">»</span>       LH8f`bx</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">16 </td><td class="diffpresent">Db&amp;GKJ&quot;1</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">17 </td><td class="diffpresent">v!o6PO!&lt;</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">18 </td><td class="diffpresent">%v1\#9g?</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">19 </td><td class="diffpresent">63}C&#x27;V*;</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">20 </td><td class="diffpresent">0%OB1<span class="dp">·</span>4)</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">21 </td><td class="diffpresent">~To?VT/GQ</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">22 </td><td class="diffpresent">SA/ktc%%</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">23 </td><td class="diffpresent">NSk*&lt;wyB)</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">24 </td><td class="diffpresent">|&amp;~_Yc))</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">25 </td><td class="diffpresent">Tq3RLt5F</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">26 </td><td class="diffpresent">.t&amp;<span class="dp">»</span>    gPp#?</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">27 </td><td class="diffpresent">kIz:;.@E\</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">28 </td><td class="diffpresent">:OdKx7Fvf</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">29 </td><td class="diffpresent">$m8igJ-%</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">30 </td><td class="diffpresent">EzFLhtdtf</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">31 </td><td class="diffpresent">Lt&gt;*y9eo</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">32 </td><td class="diffpresent">:Xn@[@;c</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">33 </td><td class="diffpresent">OtPMFMt4</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">34 </td><td class="diffpresent">2Yxv,Y*OKt_}</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">35 </td><td class="diffpresent">]Z&amp;\IF{P</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">36 </td><td class="diffpresent">ox`O2j?<span class="dp">»</span></td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">37 </td><td class="diffpresent">&#x27;v<span class="dp">·</span>tltp(t</td><td colspan="2"> </td></tr>
<tr class="diffchanged"><td class="diffline">38 </td><td class="diffpresent">AP<del>a</del>Y`ren</td><td class="diffline">36 </td><td class="diffpresent">AP<ins>n</ins>Y`ren</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">37 </td><td class="diffpresent">NUuUuwuwu8}</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">38 </td><td class="diffpresent">b&#x27;}4H,v&gt;</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">39 </td><td class="diffpresent">BWBf)Bh!&amp;</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">40 </td><td class="diffpresent">+1|;&lt;&#x27;9N</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">41 </td><td class="diffpresent">I/Ddpt7G</td></tr>
<tr class="diffdeleted"><td class="diffline">39 </td><td class="diffpresent">$xC&quot;mEzG</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">40 </td><td class="diffpresent">6xMQ~Z&amp;5(g8</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">41 </td><td class="diffpresent">y7w&quot;xyZ?</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">42 </td><td class="diffpresent">_2r[LS[81}</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">43 </td><td class="diffpresent">1:??&gt;Hgq</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">44 </td><td class="diffpresent">[%]B[%5B</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">45 </td><td class="diffpresent">)<span class="dp">·</span>??nXZ.</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">46 </td><td class="diffpresent">}Cssdc^-</td><td colspan="2"> </td></tr>
<tr class="diffunmodified"><td class="diffline">47 </td><td class="diffpresent">gHaw&lt;w)b</td><td class="diffline">42 </td><td class="diffpresent">gHaw&lt;w)b</td></tr>
<tr class="diffdeleted"><td class="diffline">48 </td><td class="diffpresent">_cn.;UE$</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">49 </td><td class="diffpresent">k@Hn)_AW&lt;</td><td colspan="2"> </td></tr>
<tr class="diffunmodified"><td class="diffline">50 </td><td class="diffpresent">V+!&#x27;9h*!&#x27;^</td><td class="diffline">43 </td><td class="diffpresent">V+!&#x27;9h*!&#x27;^</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">44 </td><td class="diffpresent">g]mbdUd?</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">45 </td><td class="diffpresent">aSK<span class="dp">·</span>bfSKP</td></tr>
<tr class="diffdeleted"><td class="diffline">51 </td><td class="diffpresent">8|.&quot;t:|f</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">52 </td><td class="diffpresent">G,,*F/7:</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">53 </td><td class="diffpresent">Z&quot;/gSK&amp;j^j</td><td colspan="2"> </td></tr>
<tr class="diffchanged"><td class="diffline">54 </td><td class="diffpresent">!X/z1|/w</td><td class="diffline">46 </td><td class="diffpresent">!X/z1|/w<ins>&gt;B;</ins></td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">47 </td><td class="diffpresent">4osh$t!O#</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">48 </td><td class="diffpresent">1*VyHS6*</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">49 </td><td class="diffpresent">OR7HU~(O</td></tr>
<tr class="diffdeleted"><td class="diffline">55 </td><td class="diffpresent">UKoUKYX5</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">56 </td><td class="diffpresent">hs=Vuo6te</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">57 </td><td class="diffpresent">]VaM@6SM%L5</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">58 </td><td class="diffpresent">W{TS.dDo</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">59 </td><td class="diffpresent">RC^*L$F;x</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">60 </td><td class="diffpresent">=+&#x27;}=+&#x27;OQ</td><td colspan="2"> </td></tr>
<tr class="diffchanged"><td class="diffline">61 </td><td class="diffpresent">2<del>K</del>4pc+Ix</td><td class="diffline">50 </td><td class="diffpresent">2<ins>S</ins>4pc+Ix</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">51 </td><td class="diffpresent">`,&amp;a,EF@</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">52 </td><td class="diffpresent">~mZDt?y_</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">53 </td><td class="diffpresent">G)2uUJ{U</td></tr>
<tr class="diffdeleted"><td class="diffline">62 </td><td class="diffpresent">&amp;t{J7?a[</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">63 </td><td class="diffpresent">[@Tjh1WCu</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">64 </td><td class="diffpresent">rw3:R$v7</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">65 </td><td class="diffpresent">:{7%`er??</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">66 </td><td class="diffpresent"><span class="dp">»</span>       6A=cSQ)</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">67 </td><td class="diffpresent">6vqi)[,1</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">68 </td><td class="diffpresent">%`=$|=$9%zC</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">69 </td><td class="diffpresent">JCJ+JgJ,</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">70 </td><td class="diffpresent">JCJ+JgJ,</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">71 </td><td class="diffpresent">fiJUJ#JkJ</td><td colspan="2"> </td></tr>
<tr class="diffdeleted"><td class="diffline">72 </td><td class="diffpresent">J=J+JGJ,e<span class="dp">·</span>e4e2e</td><td colspan="2"> </td></tr>
<tr class="diffchanged"><td class="diffline">73 </td><td class="diffpresent"><del>Q</del>6QvSNP.R</td><td class="diffline">54 </td><td class="diffpresent"><ins>R</ins>6QvSNP.R</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">55 </td><td class="diffpresent">H:JVJ!JiJ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">56 </td><td class="diffpresent">8HrJfJnJ<span class="dp">»</span>       JEJ=JsJ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">57 </td><td class="diffpresent">Tu&quot;X`-$k&amp;</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">58 </td><td class="diffpresent">qp,,YA<span class="dp">»</span> wu</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">59 </td><td class="diffpresent">86#5%+%?</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">60 </td><td class="diffpresent">.HbJzJvJ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">61 </td><td class="diffpresent">HJNJaJyJMJSJ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">62 </td><td class="diffpresent">;5$njHrJfJnJ<span class="dp">»</span>   JE</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">63 </td><td class="diffpresent">fJJ&amp;J^JqJeJ]JKJ</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">64 </td><td class="diffpresent">E!a86#<span class="dp">»</span> %</td></tr>
<tr class="diffadded"><td colspan="2"> </td><td class="diffline">65 </td><td class="diffpresent"><span class="dp">·</span>Yn<span class="dp">»</span>     cJc&gt;</td></tr>
<tr class="error"><td colspan="4">
Max report size reached; 253/2431 bytes (10.41%) of diff not shown.
</td></tr></table></div><div class="footer">
Generated by
<a href="https://diffoscope.org" rel="noopener noreferrer" target="_blank">
diffoscope</a> 205
</div>
</body>
</html>
